<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/loginstyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login - Banking Portal</title>
</head>

<body>
<div class="wrapper">
    <form action="/login/process" method="post">
        <h1>Account Login</h1>
        <div class="input-box" >
            <input type="text" placeholder="Account ID" id="accountid" name="accountid" autocomplete="off" required aria-label = "Input Username">
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Password" id="password" name="password" required  aria-label = "Input password">
            <i class='bx bxs-lock-alt'></i>
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
    <a href="/manager/login">Manager Login</a>

    {{#if error}}
        <p class="message error">{{error}}</p>
    {{/if}}
    {{#if success}}
        <p class="message success">{{success}}</p>
    {{/if}}
</div>
</body>
</html>